
.register{
    height: 100vh;
    width: 100%;
    color: #fff;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.registerColumn{
    display: grid;
    grid-template-columns: 50% 50%;
}
.registerLoginButton{
    float: right;
}
.registerColumn2{
    align-items: center;
}
.registerTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    color: #3CAF4B;
}
.registerForm{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.registerForm > label{
   font-size: 20px;
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    height: 50px;
    width: 500px;
    border-radius: 30px;
    background-color: transparent;
    border:2px solid #fff;
    color: white;
    text-indent: 50px;

}
.registerInput:focus{
    outline: none;
}
.registerButton{
    margin-top: 50px;
    cursor: pointer;
    background-color: #0A6937;
    border:2px solid #fff;
    margin: 50px;
    font-size: 25px;
    border-radius: 50px;
    color: white;
    margin-bottom: 50px;
    width: 500px;
    height: 80px;
    
}
.registerButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.registerLoginButton{
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
   color:#0A6937;
    font-weight: 700;
    margin-bottom: 50px;
    margin-right: 100px;
}
.registerLoginButton:hover{
    color: #9EEB47;
}
.registerColumn1 > img{
    width: 550px;
    height: 480px;
    margin: 100px;
    border-radius: 50px;

}
.registerPasswordIcon{
    position: absolute;
    margin-top: 338px;
    font-size: 20px;
    margin-right: 430px;
}
.registerEmailIcon{
    position: absolute;
    font-size: 20px;
    margin-top: 238px;
    margin-right: 430px;
}
.registerUserIcon{
    position: absolute;
    font-size: 20px;
    margin-top: 140px;
    margin-right: 430px;
}