
.login{
    height: 100vh;
    width: 100%;
    color: #fff;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.loginColumn{
    display: grid;
    grid-template-columns: 50% 50%;
}
.loginRegisterButton{
    float: right;
}
.loginColumn2{
    align-items: center;
}
.loginTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    color: #3CAF4B;
}
.loginForm{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.loginForm > label{
   font-size: 20px;
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    height: 50px;
    width: 500px;
    border-radius: 30px;
    background-color: transparent;
    border:2px solid #fff;
    color: white;
    text-indent: 50px;

}
.loginInput:focus{
    outline: none;
}
.loginButton{
    margin-top: 50px;
    cursor: pointer;
    background-color: #0A6937;
    border:2px solid #fff;
    margin: 50px;
    font-size: 25px;
    border-radius: 50px;
    color: white;
    margin-bottom: 50px;
    width: 500px;
    height: 80px;
    
}
.loginButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.loginRegisterButton{
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
   color:#0A6937;
    font-weight: 700;
    margin-bottom: 50px;
    margin-right: 100px;
}
.loginRegisterButton:hover{
    color: #9EEB47;
}
.loginColumn1 > img{
    width: 550px;
    height: 480px;
    margin: 100px;
    border-radius: 50px;

}
.loginPasswordIcon{
    position: absolute;
    margin-top: 240px;
    font-size: 20px;
    margin-right: 430px;
}
.loginUserIcon{
    position: absolute;
    font-size: 20px;
    margin-top: 140px;
    margin-right: 430px;
}